<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/app">
                <i class="mdi mdi-view-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
                <!--<span class="badge badge-success">New</span>-->
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/curriculums">
                <i class="mdi mdi-library-books menu-icon"></i>
                <span class="menu-title">Curriculums</span>
                <!--<span class="badge badge-danger">2</span>-->
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/app/subjects">
                <i class="mdi mdi-book-open menu-icon"></i>
                <span class="menu-title">Subjects</span>
            </a>
        </li>

      <li class="nav-item">
        <a class="nav-link" href="/app/levels">
          <i class="mdi mdi-layers menu-icon"></i>
          <span class="menu-title">Levels</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/app/types">
          <i class="mdi mdi-bookmark menu-icon"></i>
          <span class="menu-title">Types</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/app/users">
          <i class="mdi mdi-account-multiple menu-icon"></i>
          <span class="menu-title">Users</span>
        </a>
      </li>
    </ul>
</nav>
